# Node.js
node_modules/
npm-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*
*.env
*.env.*

# Compiled files
dist/
build/
*.js
*.js.map

# Logs
logs
*.log

# Optional files
.vscode/
.idea/
.eslintcache
.npm